* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: #8e44ad;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  color: white;
  user-select: none;
  flex-direction: column;
}

.note-container .note {
  font-size: 15vw;
  font-weight: normal;
}

.note-container .hand {
  font-size: 7vw;
  font-weight: normal;
}